@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --hero-bg: #b4d0e7;
  --primary-color: #0061ff;
  --white-color: #fff;
  --black-color: #000;
  --w-container: 1200px;
  --cards-list-gap: 50px;
  --company-bg: #A2D39B;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: 0;
}

img {
  max-width: 100%;
}

.row {
  display: flex;
}

.col-35 {
  flex-basis: 35%;
}

.col-65 {
  flex-basis: 65%;
}

.justify-between {
  justify-content: space-between;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: var(--primary-color);
  padding: 10px 17px;
  color: var(--white-color);
  white-space: nowrap;
}

.text-xxl {
  font-size: 5rem;
}

.text-xl {
  font-size: 4rem;
}

.text-lg {
  font-size: 3rem;
}

.container {
  width: var(--w-container);
  margin: 0 auto;
}

.container .container-xl {
  --w-container: 1180px;
}

.section {
  padding: calc(150px / 2) 0;
}

.separator {
  height: 2px;
  width: 50px;
  margin: 30px 0 40px;
  background-color: rgba(128, 128, 128, 0.25);
  margin-left: 30px;
}

.nav-container {
  padding: 20px 20px;
}

.nav-container .nav-col,
.nav-col .links__list {
  gap: 40px;

  a {
    text-decoration: none;
    color: currentColor;
  }
}

.hero + .section {
  padding-top: 150px;
}

.hero {
  background-color: var(--hero-bg);
  padding-top: 70px;

  .row {
    margin-top: 40px;
  }

  .btn {
    margin: 20px 0;
  }

  .jumbo-img {
    margin-bottom: -90px;
  }

  .fa-arrow-down {
    margin-bottom: 20px;
  }
}

.business-plan {
  .filters {
    margin: 60px 0 50px;
    gap: 40px;
    align-items: center;
  }

  .radio-group {
    gap: 10px;
    align-items: center;
  }

  .radio-group input {
    width: 20px;
    height: 20px;
    accent-color: var(--primary-color);
  }

  .cards__list .row {
    flex-basis: calc(100% / 3);
    gap: var(--cards-list-gap);
  }

  .card__item {
    border: 1px solid rgba(128, 128, 128, 0.25);
  }

  .card__main,
  .card__footer {
    padding: 30px;
  }

  .card__header {
    padding: 10px;
    gap: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.197);
  }

  li.plan__benefits.row {
    align-items: center;
    gap: 10px;
    margin: 20px 0;
  }

  .card__main .btn {
    margin: 50px 0 30px;
  }

  .card__footer li .fa-check {
    color: var(--primary-color);
  }

  .row + .card__item {
    margin-top: var(--cards-list-gap);
  }

  .row + .card__item .btn {
    align-self: flex-start;
    margin: 0;
  }

  .row + .card__item h4 {
    margin: 10px 0 50px;
  }

}

.find-partner {

  .row {
    gap: 40px;
  }

  .row .col-35 {
    padding-top: 55px;
  }

  p {
    margin: 15px 0 30px;
  }

  .btn {
    width: fit-content;
    --primary-color: transparent;
    --white-color: var(--black-color);
    border: 1px solid var(--black-color);
    border-left: 2px solid var(--black-color);
    border-bottom: 3px solid var(--black-color);
  }

}

.business-features {
  .cards__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--cards-list-gap);
  }

  .card__item p {
    margin-top: 30px;
  }

}

.dropbox-clients {

  h2 {
    max-width: 600px;
    margin-bottom: 65px;
  }
}

.companies {
  padding-bottom: 0;

  .row .col {
    flex-basis: calc(100% / 3);
  }

  .companies__list {
    flex-wrap: wrap;
  }

  .company__item {
    flex-basis: calc(100% / 2);
    aspect-ratio: 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--company-bg);
  }

  img {
    width: 120px;
    height: fit-content;
  }

  .florida-uni img {
    object-fit: contain;
  }


  .designit {
    border: 12px solid #D1E9CD;
  }

  .arizona-state-uni {
    --company-bg: #61082B;
  }

  .florida-uni {
    --company-bg: #0093CE;
  }

  .topps {
    --company-bg: #FF1C1C;
  }

  .world-recycle {
    --company-bg: #D5001F;
  }

  .hearst-corp {
    --company-bg: #B4D0E7;
  }

  .lonely-planet {
    --company-bg: #0D2481;
  }

  .clear-channel {
    --company-bg: #FFD830;
  }

  .separator {
    margin-left: 0;
  }

  .row .col:nth-child(2) {
    padding: 30px;
  }

  .row .col:nth-child(2) {
    padding: 30px;
  }

  .row .col:nth-child(2) p + p {
    margin-top: 50px;
  }
}

.dropbox-for-agency {
  background-color: var(--hero-bg);

  h2 {
    color: #610836;
    max-width: 600px;
  }

  .btn {
    --primary-color: var(--white-color);
    color: var(--black-color);
  }

}
